<a href="https://colab.research.google.com/github/AmalPramod/Introduction-to-Python/blob/main/python30_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num=int(input("enter the no of rows"))
row=0
while row<num :
  space=num-row-1
  while space>0 :
    print(end=" ")
    space=space-1
  star=row+1
  while star>0 :
    print("*",end=" ")
    star=star-1
  row=row+1
  print()

enter the no of rows4
   *
  * *
 * * *
* * * *

In [4]:
#foor loop
files=["Joker.mp4","Memories.mp4","Money Heist.mp4"]
for x in files :
  print(x)

Joker.mp4
Memories.mp4
Money Heist.mp4

In [5]:
print(x[0:-4])

Money Heist

In [19]:
for x in files :
  print(x[0:-4])

Joker
Memories
Money Heist

In [31]:
n=int(input("multiplication table of which number is required"))
v=int(input('enter the limit to which multiplication is required'))
for x in range(1,v+1) :
  print(str(x)+"X"+str(n)+"="+str(x*n))
  i=i+1

multiplication table of which number is required2
enter the limit to which multiplication is required10
1X2=2
2X2=4
3X2=6
4X2=8
5X2=10
6X2=12
7X2=14
8X2=16
9X2=18
10X2=20

In [4]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
for i in range(1,6):
  for j in range(1,i+1):
     print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [71]:
for i in range(1,6):
  for j in range(1,i+1):
       print(i,end=" ")
       i=i+1
  print()

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [79]:
n=5
for i in range(n):
  for j in range(1,n+1-i):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1